.page__header {
  padding-top: 45px;
  width: calc(880/1280*100%);
  margin: 0 auto;
  min-height: 74px;
  border-bottom: 1px solid var(--secondary-color);
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .page__header {
    padding-top: 28px;
    width: 100%;
    min-height: 56px;
  }
}
