.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: var(--dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}



.header {
}

.page__header {
  padding-top: 45px;
  width: calc(880/1280*100%);
  margin: 0 auto;
  min-height: 74px;
  border-bottom: 1px solid var(--secondary-color);
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .page__header {
    padding-top: 28px;
    width: 100%;
    min-height: 56px;
  }
}

.logo {
  display: block;
  object-fit: cover;
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 767px) {
  .logo {
    width: calc(103.74/320*100%);
    height: calc(24.4/320*100%);
    margin-left: calc(27/320*100%);
    margin-bottom: 31.6px;
  }
}
.profile {
}

.page__profile {
  padding-top: 40px;
  width: calc(880/1280*100%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .page__profile {
    padding-top: 42px;
    width: calc(282/320*100%);
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page__profile {
    padding-top: 42px;
    flex-direction: column;
  }
}

.profile__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .profile__container {
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 767px) {
  .profile__container {
    flex-direction: column;
    width: 100%;
  }
}



.profile__avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .profile__avatar {
    width: calc(120px + (273 - 120)*((100vw - 320px)/(728 - 320)));
    height: calc(120px + (273 - 120)*((100vw - 320px)/(728 - 320)));
    margin-right: 0;
    margin-bottom: 26px;
  }
}



.profile__info {
  position: relative;
  max-width: 550px;
  /*outline: 1px solid red;*/
  display: grid;
  grid-template-columns: minmax(0, auto) 24px;
  row-gap: 7px;
  column-gap: 18px;
}

@media screen and (max-width: 1279px) {
  .profile__info {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: calc(282/320*100%);
    display: flex;
    flex-direction: column;
  }
}


.profile__name {
  margin: 0;
  /*outline: 1px solid red;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .profile__name {
    text-align: center;
    font-weight: 500;
    font-size: 27px;
    line-height: 32.68px;
  }
}



.profile__edit {
  width: 100%;
  height: 24px;
  padding: 0;
  margin-bottom: 10px;
  background-image: url(./image/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 1px solid var(--main-color);
  align-self: end;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__edit {
    position: absolute;
    right: -28px;
    top: 8px;
    width: 18px;
    height: 18px;
    margin-bottom: 0;
  }
}



.profile__job {
  margin: 0;
  width: 100%;
  min-height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .profile__job {
    text-align: center;
    font-size: 14px;
    line-height: 16.94px;
  }
}



.profile__add-button {
  width: calc(150/880*100%);
  height: 50px;
  padding: 0;
  background-image: url(./image/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 1279px) {
  .profile__add-button {
    width: 282px;
  }
}




.elements {
}
.page__elements {
  padding-top: 50px;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 767px) {
  .page__elements {
    padding-top: 36px;
  }
}

@media screen and (max-width: 1279px) {
  .page__elements {
    width: calc(100% - 38px);
  }
}



.elements__element {
}
.elements__image {
  width: 100%;
  height: 282px;
  display: block;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.elements__rectangle {
  background-color: var(--main-color);
  min-height: 79px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.elements__subtitle {
  margin: 0 0 0 21px;
  max-width: calc(215/282*100%);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: var(--dark-color);
}
.elements__like-icon {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  background-image: url(./image/heart.svg);
}

.elements__like-icon:hover {
  opacity: .5;
  cursor: pointer;
}

.elements__like-icon:active {
  opacity: 1;
  background-image: url(./image/heart-active.svg);
}

.footer {
}

.page__footer {
  width: calc(880/1280*100%);
  padding-top: 66px;
  padding-bottom: 56px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .page__footer {
    width: calc(282/320*100vw);
    padding-top: 48px;
    padding-bottom: 33px;
  }
}



.footer__info {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: var(--secondary-color);
}

.popup {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.popup_opened {
  display: flex;
}

.popup__close-icon {
  width: 32px;
  height: 32px;
  background-image: url(./image/Close-Icon.svg);
  background-size: cover;
  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__close-icon:hover {
  opacity: .6;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}

@media screen and (max-height: 400px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    right: -36px;
    top: 0;
  }
}

.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 10px;
  width: 430px;
  min-height: 330px;
}

@media screen and (max-height: 400px) {
  .popup__container {
    min-height: 290px;
  }
}

@media screen and (max-width: 550px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
  }
}

.popup__title {
  margin: 34px 0 48px 36px;
  max-width: 330px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

@media screen and (max-width: 550px) {
  .popup__title {
    max-width: 238px;
    margin: 25px auto 75px 22px;
    font-size: 18px;
    line-height: 21.78px;
  }
}

@media screen and (max-height: 400px) {
  .popup__title {
    margin-top: 10px;
    margin-bottom: 44px;
  }
}


.popup__user-info {
  width: 100%;
  margin: 0 0 48px 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .popup__user-info {
    margin-bottom: 45px;
  }
}

.popup__user-name {
  box-sizing: border-box;
  max-width: 358px;
  width: 100%;
  min-height: 14px;
  padding: 0 0 10px 0;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: var(--dark-color);
}

@media screen and (max-width: 550px) {
  .popup__user-name {
    max-width: 238px;
  }
}



.popup__user-job {
  box-sizing: border-box;
  max-width: 358px;
  width: 100%;
  min-height: 14px;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: var(--dark-color);
}

@media screen and (max-width: 550px) {
  .popup__user-job {
    max-width: 238px;
  }
}

.popup__submit {
  width: 358px;
  min-height: 50px;
  margin: 0 auto;
  padding: 0;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: var(--main-color);
  background-color: var(--dark-color);
}

.popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__submit {
    width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
